.wrapper {
  --width: 240px;
}

.head {
  min-width: var(--width);
  min-height: 30px;
  position: relative;
  background-color: bisque;
  // outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.body {
  width: var(--width);
  height: 400px;
  background-color: azure;
  display: none;
  position: absolute;

  &_show {
    display: block;
  }
}
