.base {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  min-height: 100%;
  box-sizing: border-box;
  transition: background-color 2s;
}
