/* Пункт списка */
.SelectableItem {
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
    padding-left: 10px;
}

.SelectableItem_selected {
  background-color: rgb(190, 180, 180);
}

.SelectableItem-id {
    padding: 20px 10px 20px 20px;
}

.SelectableItem-title {
    width: 100%;
    padding: 20px 10px;
    color: #000;
}

.SelectableItem-title a{
    color: #000;
    text-decoration: none;
}

.SelectableItem-title a:hover{
    color: #000;
    text-decoration: underline;
}


.SelectableItem-right {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.SelectableItem-price {
    padding: 0 10px;
    white-space: nowrap;
}
